.margin-top-sm {
  margin-top: 10px;
}

.margin-top-xl {
  margin-top: 30px;
}

.margin-bottom-sm {
  margin-bottom: 10px;
}

.padding-right-sm {
  padding-right: 10px;
}

.bold {
  font-weight: bold;
}

.text-align-center {
  text-align: center;
}

.narrow-page-container {
  padding: 0px 20%;
  animation: fadeInAnimation ease-in 0.5s;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

/* Buttons */

.button {
  background-color: #1d455d;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  position: fixed;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.button:hover {
  background-color: #112938;
}

.return-button {
bottom: 5%;
left: 1%;
}